<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Control</title>
    <link rel="stylesheet" href="/admin.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="sidebar">
        <h2>Jecati Construction Services</h2>
        <ul>
            <li><button onclick="showSection('profile')">Profile</button></li>
            <li><button onclick="showSection('services')">Services</button></li>
            <li><button onclick="showSection('transactions')">Transactions</button></li>
        </ul>
        <form action="/admin/logout" method="GET" id="logoutForm">
        <button type="submit" id="logout" onclick="confirmLogout(event)">Log out</button>
    </form>
    </div>
    <div id="profile" class="content">
        <h1>Edit Profile</h1>
        <% if (user) { %>
            <div class="form-group">
                <label for="profileName">Fullname:</label>
                <input type="text" id="profileName" value="<%= user.fullname %>">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" value="<%= user.email %>">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <!--input type="password" id="password" value="<%= user.password %>"-->
                <div class="passwords">
                    <input type="password" id="old-password" class="password-field" placeholder="Old Password">
                    <input type="password" id="new-password" class="password-field" placeholder="New Password">
                    <input type="password" id="confirm-password" class="password-field" placeholder="Confirm Password">
                </div>            
            </div>
            <div class="form-group">
                <button id="edit">Edit</button>
                <button id="save">Save Changes</button>
                <button id="cancel">Cancel</button>
            </div>
        <% } else { %>
            <h1>No Data</h1>
        <% } %>        
        
        <h2>Past Admins Table</h2>
        <div class="search profile">
            <input type="text" name="search-transactions" placeholder="Search...">
        </div>
        <select name="sorter" id="admin-sorter">
            <option value="Sort By Name">Sort By Name</option>
            <option value="Sort By Descending Order">Sort By Descending Order</option>
            <option value="Sort By Ascending Order">Sort By Ascending Order</option>
        </select>
        <div style="overflow-x: auto;">
            <% if (admin && admin.length> 0) { %>
                <table id="admins-table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% admin.forEach((row, index)=> { %>
                            <% if (row.verified) { %>
                                <tr>
                                    <td>
                                        <%= index + 1 %>
                                    </td>
                                    <td>
                                        <%= row.fullname %>
                                    </td>
                                    <td>
                                        <%= row.email %>
                                    </td>
                                    <td>
                                        <%= row.startingDate %>
                                    </td>
                                    <td>
                                        <%= row.endDate %>
                                    </td>
                                </tr>
                            <% } %>
                            <% }) %>
                    </tbody>
                </table>
                <% } else { %>
                    <h1>No Data</h1>
                    <% } %>

        </div>
    </div>
    <div id="transactions" class="content">
        <h1>Transactions</h1>
        <div class="search transactions">
            <input type="text" name="search-transactions" placeholder="Search...">
        </div>
        <select name="sorter" class="admin-sorter">
            <option value="Sort By Name">Sort By Name</option>
            <option value="Sort By Descending Order">Sort By Descending Order</option>
            <option value="Sort By Ascending Order">Sort By Ascending Order</option>
        </select>
        <div style="overflow-x: auto;">
            <% if (transaction && transaction.length > 0) { %>
                <table id="transaction-table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Contact Person</th>
                            <th>Contact Number</th>
                            <th>Email</th>
                            <th>Services</th>
                            <th>Starting Date</th>
                            <th>Due Date</th>
                            <th>Location</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% transaction.forEach((row, index) => { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= row.contactPerson %></td>
                                <td><%= row.contactNumber %></td>
                                <td><%= row.email %></td>
                                <td>
                                    <% row.services.forEach((service, serviceIndex) => { %>
                                        <%= service.type %> - <%= service.subcategory %>
                                        <% if (serviceIndex < row.services.length - 1) { %>
                                            <br>
                                        <% } %>
                                    <% }); %>
                                </td>
                                <td><%= row.startingDate.toLocaleDateString() %></td>
                                <td><%= row.dueDate.toLocaleDateString() %></td>
                                <td><%= row.location %></td>
                                <td><%= row.status %></td>
                                <td>
                                <a href="/admin/add-edit-transaction/<%= row._id %>">Edit</a>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } else { %>
                <h1>No Data</h1>
            <% } %>                   

        </div>
    </div>
    <div id="services" class="content">
        <h1>Services</h1>
        <div class="search service">
            <input type="text" name="search-service" placeholder="Search...">
        </div>
        <div class="top-buttons">
            <select name="sorter" id="admin-sorter">
                <option value="Sort By Name">Sort By Name</option>
                <option value="Sort By Descending Order">Sort By Descending Order</option>
                <option value="Sort By Ascending Order">Sort By Ascending Order</option>
            </select>
            <div class="button-group">
            <button id="addService" onclick="window.location.href='/admin/add-edit-service/'">+ Add Service</button>
            <button id="dropService">- Drop Service</button>
            <button id="confirmDrop">Confirm Drop</button>
            </div>
        </div>
        <div style="overflow-x: auto;">
            <% if (services && services.length > 0) { %>
                <table id="service-table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Category</th>
                            <th>Unit</th>
                            <th>Price</th>
                            <th>Added Date</th>
                            <th>Availability</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% services.forEach((row, index) => { %>
                            <% if (!row.deleted) { %>
                                <tr>
                                    <td id="<%= row.unit %>"><%= index + 1 %></td>
                                    <td><%= row.category %></td>
                                    <td><%= row.unit %></td>
                                    <td><%= row.price %></td>
                                    <td><%= row.addedDate %></td>
                                    <td><%= row.availability %></td>
                                    <td>
                                        <a href="/admin/add-edit-service/<%= row._id %>">Edit</a>
                                    </td>
                                </tr>
                            <% } %>
                        <% }) %>
                    </tbody>
                </table>
            <% } else { %>
                <h1>No Data</h1>
            <% } %>
        </div>
    </div>
</body>
<div class="confirm-password-popup">
    <h2>Confirm Password Change</h2>
    <p>Are you sure you want to change password?</p>
    <span class="confirm-password-buttons">
        <button class="confirm-password-ok">OK</button>
        <button class="confirm-password-cancel">Cancel</button>
    </span> 
</div>
<div class="incomplete-field-popup">
    <h2>Incomplete Fields</h2>
    <p>All fields must have values</p>
    <span class="confirm-password-buttons">
        <button class="incomplete-field-ok">OK</button>
    </span> 
</div>
<div class="edit-profile-success">
    <h2>Edit Profile Success!</h2>
    <p>Your profile has been edited successfully.</p>
    <span class="confirm-password-buttons">
        <button class="edit-profile-success-ok">OK</button>
    </span> 
</div>
<div class="no-changes-popup">
    <h2>No Changes</h2>
    <p>Password fields are empty. No changes has been made.</p>
    <span class="confirm-password-buttons">
        <button class="no-changes-ok">OK</button>
    </span> 
</div>
<script src="/js/admin.js">
   
</script>

</html>